extends layout

block head
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:700')
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic')
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Source+Code+Pro')
  link(rel='stylesheet', type='text/css', href='./css/jq-console/jq.css')
  link(rel='stylesheet', type='text/css', href='./css/style.css')

  script(type='text/javascript', src="./js/vendor/jqconsole.min.js")

block content
  #toc
    h1 Essence of CoffeeScript
    h3
      a(href='/syntax-shortcuts.html') Tutorial 1: Syntax Shortcuts
